[submodule "Marlin"]
	path = Marlin
	url = https://github.com/MarlinFirmware/Marlin.git
[submodule "grbl/ESP32"]
	path = grbl/ESP32
	url = https://github.com/bdring/Grbl_Esp32.git
[submodule "grbl/RP2040"]
	path = grbl/RP2040
	url = https://github.com/grblHAL/RP2040.git
[submodule "grbl/core"]
	path = grbl/core
	url = https://github.com/grblHAL/core.git
[submodule "grbl/STM32F4"]
	path = grbl/STM32F4
	url = https://github.com/Schildkroet/GRBL-Advanced.git
[submodule "grbl/STM32F4xx"]
	path = grbl/STM32F4xx
	url = https://github.com/grblHAL/STM32F4xx.git
[submodule "grbl/STM32F1xx"]
	path = grbl/STM32F1xx
	url = https://github.com/grblHAL/STM32F1xx.git
[submodule "grbl/SAMD21"]
	path = grbl/SAMD21
	url = https://github.com/grblHAL/SAMD21.git
